.accordion {
    --bs-accordion-btn-color: var(--bs-dark);
    --bs-accordion-btn-bg: var(--bs-light);
    --bs-accordion-active-color: var(--bs-dark);
    --bs-accordion-active-bg: var(--bs-white);
}

.card {
    background-color: #E0F2F1;
}
